/*  Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300..700&family=Trispace:wght@100..800&family=Unbounded:wght@200..900&display=swap');

:root {
  --font-unbounded: 'Unbounded', cursive;
  --font-geist: 'Geist', sans-serif;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --font-trispace: 'Trispace', sans-serif;
  --font-alegreya: 'Alegreya', serif;
  
  --font-spline-sans: 'Spline Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --x: 1.75 y: 3.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c70000;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2em;
}

.hero-section::selection {
  background: #000;
  color: #fff;
}

.hero-section .me {
  width: 70%;
  height: auto;
  margin-top: auto;
}

.me .name {
  font-family: var(--font-unbounded);
  font-size: 7em;
}

.me .job {
  font-family: var(--font-geist);
  font-size: 2em;
  text-decoration: underline 1.7em solid #000;
}
